---
title: "Mickael's Blog"
excerpt: "A franco-francais website for french baguette eaters, and PowerShell lovers."
layout: splash-home
hidden: true
classes: wide
author_profile: true
header:
  overlay_color: "#1d1f21"
  overlay_filter: "0.2"
  overlay_image: /assets/images/splashposh.webp
intro: 
  - excerpt: "La photo à l'origine de ces trois carreaux a été prise depuis les invalides."
feature_row:
  - image_path: /assets/images/Tour-Eiffel_04b.webp
    alt: "S2D"
    title: "S2D"
    excerpt: "Tout au sujet de S2D, Storage Spaces Direct, la solution hyper-convergée on premise de Microsoft."
    url: "/S2D/01-Intro/"
    btn_class: "btn--primary"
    btn_label: "Go !"
  - image_path: /assets/images/Tour-Eiffel_05b.webp
    alt: "fully responsive"
    title: "Blog posts"
    excerpt: "Les trucs et astuces de scripteur accumulé.e.s au fil du temps."
    url: "/categories/"
    btn_class: "btn--primary"
    btn_label: "Go !"
  - image_path: /assets/images/Tour-Eiffel_06b.webp
    alt: "About"
    title: "A propos"
    excerpt: "A propos de ce site et de son auteur, qui est-il et pourquoi il fait tout cela."
    url: "/about/"
    btn_class: "btn--primary"
    btn_label: "Go !"
---

Bonjour et bienvenue sur mon blog.

J'espère que vous trouverez ici ce que vous êtes venu chercher; Je fais de mon mieux pour vous proposer un contenu pertinent.
Voici donc trois carreaux qui parlent d'eux-mêmes, de plus, un outil de recherche est disponible derrière la loupe en haut à droite.

Bonne visite !


{% include feature_row id="intro" type="center" %}

{% include feature_row %}
